USE [master]
GO
/****** Object:  Database [ICD2DB]    Script Date: 8/25/2018 9:22:33 AM ******/
CREATE DATABASE [ICD2DB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ICD2DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ICD2DB]
GO
USE [ICD2DB]
GO
/****** Object:  FullTextCatalog [ICD2FT]    Script Date: 8/25/2018 9:22:35 AM ******/
CREATE FULLTEXT CATALOG [ICD2FT] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[ICD10Codes]    Script Date: 8/25/2018 9:22:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICD10Codes](
	[code] [varchar](20) NOT NULL,
	[hipaa] [smallint] NULL,
	[description] [varchar](300) NULL,
	[long_description] [varchar](300) NULL,
	[chapter] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SEARCH_CODES]    Script Date: 8/25/2018 9:22:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Tyler Durham
-- Create Date: 6/7/2018
-- Description: Leverages the full text index to search for codes.
-- =============================================
CREATE PROCEDURE [dbo].[SEARCH_CODES]
(
    @keywords VARCHAR(150)
)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON

		SELECT TOP (250) 
		   [code]
		  ,[hipaa]
		  ,[description]
		  ,[chapter]
		  
	  FROM [dbo].[ICD10Codes]
	 -- WHERE CONTAINS(*, 'edema') and CONTAINS(*, 'diabetes') and CONTAINS(*, 'eye')
	 WHERE CONTAINS(long_description, @keywords)

END
GO
USE [master]
GO
